In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG     BEI.DE
Date
2019-04-29  104.779999  94.080002
2019-04-30  106.480003  97.440002
2019-05-01  104.930000        NaN
2019-05-02  105.559998  97.800003
2019-05-03  106.080002  98.480003

# Standard Deviation (Volatility)

### Standard Deviation measures the variability/dispersion around an average and an actual value. The larger this difference the larger the standard deviation.

In [6]:
# take the log return because we are evaluating each company separately in a given timeframe
sec_returns = np.log(sec_data/sec_data.shift(1))

sec_returns.tail()

                  PG    BEI.DE
Date
2019-04-29 -0.010255 -0.005089
2019-04-30  0.016094  0.035091
2019-05-01 -0.014664       NaN
2019-05-02  0.005986       NaN
2019-05-03  0.004914  0.006929

## PG (Proctor & Gamble)

In [7]:
#find the average(mean) daily  log return of each company
sec_returns['PG'].mean()

0.0002816298192734785

In [8]:
#find the avg annual log return
sec_returns['PG'].mean() * 250

0.07040745481836963

In [9]:
#find the standard deviation(volatility) 
sec_returns['PG'].std()

0.010968465059831779

In [10]:
#find the annualized sd
sec_returns['PG'].std() * 250 ** 0.5

0.1734266601252173

## BEI.DE (Beiersdorf)

In [11]:
sec_returns['BEI.DE'].mean()

0.0002762467938121237

In [12]:
sec_returns['BEI.DE'].mean() * 250

0.06906169845303092

In [13]:
sec_returns['BEI.DE'].std()

0.01374358563208123

In [14]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21730516907470795

#### Applying to multiple stocks at once

In [16]:
sec_returns[['PG', 'BEI.DE']].mean()

PG        0.000282
BEI.DE    0.000276
dtype: float64

In [17]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.173427
BEI.DE    0.217305
dtype: float64