# Covariance and Correlation
### covariance matrix ?

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [4]:
sec_returns.tail()

                  PG    BEI.DE
Date
2019-04-29 -0.010255 -0.005089
2019-04-30  0.016094  0.035091
2019-05-01 -0.014664       NaN
2019-05-02  0.005986       NaN
2019-05-03  0.004914  0.006929

In [6]:
# calculate variance (.var()) of a series of data
PG_var = sec_returns['PG'].var()
PG_var

0.00012030722576875055

In [7]:
PG_var_annualized = PG_var * 250
PG_var_annualized

0.03007680644218764

In [9]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018888614602634963

In [11]:
BEI_var_annualized = BEI_var * 250
BEI_var_annualized

0.047221536506587405

In [12]:
# covariance matrix of sec_returns
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000189

In [16]:
# covariance matrix of annualized sec_returns
cov_matrix_annualized = sec_returns.cov() * 250
cov_matrix_annualized

              PG    BEI.DE
PG      0.030077  0.009641
BEI.DE  0.009641  0.047222

In [18]:
# correlation matrix of sec_returns
# shows the correlation of returns between the two companies NOT the prices!
# reflects the dependence between 
cov_matrix_corr = sec_returns.corr()
cov_matrix_corr

              PG    BEI.DE
PG      1.000000  0.255906
BEI.DE  0.255906  1.000000