Importing and Organizing Your Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.988451
1    0.682169
2    0.679814
3    0.109351
4    0.238356
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.6798135100661221

In [5]:
from pandas_datareader import data as wb

In [19]:
PG = wb.DataReader('PG', data_source='yahoo', start='2017-1-1')

In [20]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,84.389999,83.500000,83.879997,84.199997,8792700.0,77.700050
2017-01-04,84.599998,84.239998,84.449997,84.500000,8096700.0,77.976891
2017-01-05,85.430000,84.379997,84.410004,85.059998,6852400.0,78.493637
2017-01-06,85.250000,84.620003,84.940002,85.029999,4799900.0,78.465958
2017-01-09,84.660004,83.750000,84.059998,84.400002,10981100.0,77.884605
2017-01-10,84.430000,83.239998,84.339996,83.489998,10918200.0,77.044838
2017-01-11,83.750000,83.279999,83.389999,83.750000,9572300.0,77.284782
2017-01-12,83.879997,83.370003,83.709999,83.839996,6545400.0,77.367828
2017-01-13,84.019997,83.440002,83.849998,84.010002,6762800.0,77.524727
2017-01-17,85.580002,83.879997,83.900002,85.209999,13097600.0,78.632080
2017-01-18,85.300003,84.589996,84.800003,84.930000,10520400.0,78.994347
2017-01-19,85.000000,84.279999,84.629997,84.699997,14074500.0,78.780418
2017-01-20,87.980003,86.419998,86.889999,87.449997,22944400.0,81.338242
2017-01-23,87.349998,86.849998,87.089996,86.959999,9408900.0,80.882477
2017-01-24,87.949997,87.220001,87.220001,87.860001,8704700.0,81.719589
2017-01-25,87.900002,87.059998,87.839996,87.160004,8082900.0,81.068489
2017-01-26,87.230003,86.589996,87.120003,86.599998,6542300.0,80.547653
2017-01-27,86.849998,86.019997,86.449997,86.720001,9332300.0,80.659248
2017-01-30,86.860001,86.500000,86.779999,86.750000,7350000.0,80.687157
2017-01-31,87.660004,86.529999,86.629997,87.599998,9712400.0,81.477753
2017-02-01,87.589996,86.750000,87.029999,87.330002,8291000.0,81.226624
2017-02-02,88.349998,87.250000,87.610001,87.760002,8997200.0,81.626579
2017-02-03,88.169998,87.389999,88.120003,87.410004,7161900.0,81.301025
2017-02-06,87.790001,87.129997,87.500000,87.400002,7483000.0,81.291725
2017-02-07,88.279999,87.480003,87.639999,88.010002,6646100.0,81.859093
2017-02-08,88.339996,87.809998,88.070000,88.330002,6815800.0,82.156738
2017-02-09,88.779999,88.029999,88.330002,88.669998,9914100.0,82.472969
2017-02-10,88.730003,87.970001,88.559998,87.970001,11057600.0,81.821899
2017-02-13,88.360001,87.639999,88.040001,88.309998,6905100.0,82.138123
2017-02-14,88.220001,87.230003,88.000000,87.860001,17199500.0,81.719589
...,...,...,...,...,...,...
2019-03-15,102.889999,101.730003,101.760002,102.440002,30802700.0,101.721901
2019-03-18,102.290001,101.199997,102.059998,101.510002,8442800.0,100.798416
2019-03-19,102.139999,101.290001,101.910004,101.900002,7334100.0,101.185684
2019-03-20,102.309998,101.050003,101.730003,101.720001,7513800.0,101.006943
2019-03-21,102.910004,101.279999,101.279999,102.489998,8221000.0,101.771545
2019-03-22,103.150002,99.010002,102.480003,101.660004,11035900.0,100.947372
2019-03-25,102.339996,101.260002,101.660004,101.959999,6955500.0,101.245262
2019-03-26,103.480003,102.400002,102.440002,103.019997,6909400.0,102.297829
2019-03-27,103.019997,102.040001,102.760002,102.900002,6037100.0,102.178673
2019-03-28,103.680000,103.110001,103.309998,103.550003,6793700.0,102.824120
2019-03-29,104.150002,103.110001,103.860001,104.050003,7535400.0,103.320618
2019-04-01,104.230003,103.139999,104.230003,103.639999,6626500.0,102.913483
2019-04-02,104.019997,103.260002,103.610001,103.750000,6088800.0,103.022713
2019-04-03,103.889999,102.750000,103.580002,103.690002,5226500.0,102.963135
2019-04-04,103.669998,102.790001,103.480003,103.430000,4786100.0,102.704956
2019-04-05,103.690002,103.169998,103.610001,103.650002,4281800.0,102.923416
2019-04-08,105.139999,103.500000,103.930000,104.970001,8468600.0,104.234161
2019-04-09,104.760002,104.139999,104.550003,104.660004,5820300.0,103.926338
2019-04-10,105.000000,104.239998,104.660004,104.650002,5394300.0,103.916405
2019-04-11,105.050003,104.370003,104.580002,104.750000,5078400.0,104.015701
2019-04-12,105.059998,104.169998,104.750000,105.059998,6707900.0,104.323532
2019-04-15,105.779999,104.790001,104.980003,105.730003,5639200.0,104.988838
2019-04-16,106.500000,105.650002,105.980003,106.419998,8136100.0,105.673996
2019-04-17,106.510002,105.349998,106.269997,105.849998,6778100.0,105.849998
2019-04-18,106.709999,105.830002,106.019997,106.050003,7248900.0,106.050003
2019-04-22,107.199997,105.739998,106.129997,106.010002,9057200.0,106.010002
2019-04-23,104.110001,102.129997,104.010002,103.160004,15979800.0,103.160004
2019-04-24,104.650002,102.790001,103.320000,103.690002,10094800.0,103.690002
2019-04-25,103.570000,102.589996,103.099998,103.279999,6085300.0,103.279999
2019-04-26,105.879997,103.910004,103.949997,105.860001,7747400.0,105.860001

In [22]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 582 entries, 2017-01-03 to 2019-04-26
Data columns (total 6 columns):
High         582 non-null float64
Low          582 non-null float64
Open         582 non-null float64
Close        582 non-null float64
Volume       582 non-null float64
Adj Close    582 non-null float64
dtypes: float64(6)
memory usage: 31.8 KB

In [26]:
PG.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-01-03  84.389999  83.500000  83.879997  84.199997   8792700.0  77.700050
2017-01-04  84.599998  84.239998  84.449997  84.500000   8096700.0  77.976891
2017-01-05  85.430000  84.379997  84.410004  85.059998   6852400.0  78.493637
2017-01-06  85.250000  84.620003  84.940002  85.029999   4799900.0  78.465958
2017-01-09  84.660004  83.750000  84.059998  84.400002  10981100.0  77.884605

In [27]:
  PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-04-22,107.199997,105.739998,106.129997,106.010002,9057200.0,106.010002
2019-04-23,104.110001,102.129997,104.010002,103.160004,15979800.0,103.160004
2019-04-24,104.650002,102.790001,103.320000,103.690002,10094800.0,103.690002
2019-04-25,103.570000,102.589996,103.099998,103.279999,6085300.0,103.279999
2019-04-26,105.879997,103.910004,103.949997,105.860001,7747400.0,105.860001

In [39]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame() 
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']

In [37]:
new_data.tail()

                    PG        MSFT          T      F    GE
Date
2019-04-22  106.010002  123.760002  32.080002   9.35  9.32
2019-04-23  103.160004  125.440002  32.099998   9.50  9.33
2019-04-24  103.690002  125.010002  30.790001   9.57  9.32
2019-04-25  103.279999  129.149994  30.340000   9.40  9.12
2019-04-26  105.860001  129.889999  30.680000  10.41  9.57

In [40]:
Tesla = wb.DataReader('TSLA', data_source='yahoo', start='2017-1-1')

In [42]:
Tesla

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,220.330002,210.960007,214.860001,216.990005,5923300,216.990005
2017-01-04,228.000000,214.309998,214.750000,226.990005,11213500,226.990005
2017-01-05,227.479996,221.949997,226.419998,226.750000,5911700,226.750000
2017-01-06,230.309998,225.449997,226.929993,229.009995,5527900,229.009995
2017-01-09,231.919998,228.000000,228.970001,231.279999,3957000,231.279999
2017-01-10,232.000000,226.889999,232.000000,229.869995,3660000,229.869995
2017-01-11,229.979996,226.679993,229.070007,229.729996,3650800,229.729996
2017-01-12,230.699997,225.580002,229.059998,229.589996,3790200,229.589996
2017-01-13,237.850006,229.589996,230.000000,237.750000,6093000,237.750000
2017-01-17,239.960007,234.369995,236.699997,235.580002,4611900,235.580002
2017-01-18,239.710007,235.580002,236.649994,238.360001,3769000,238.360001
2017-01-19,248.679993,240.750000,247.250000,243.759995,7732300,243.759995
2017-01-20,246.000000,243.009995,245.460007,244.729996,4204300,244.729996
2017-01-23,250.889999,245.500000,245.850006,248.919998,6262900,248.919998
2017-01-24,254.800003,249.649994,250.000000,254.610001,4965500,254.610001
2017-01-25,258.459991,251.800003,257.309998,254.470001,5142600,254.470001
2017-01-26,255.740005,250.750000,254.289993,252.509995,3152100,252.509995
2017-01-27,253.000000,248.520004,251.380005,252.949997,3166300,252.949997
2017-01-30,255.289993,247.100006,252.529999,250.630005,3801100,250.630005
2017-01-31,255.889999,247.699997,249.240005,251.929993,4116100,251.929993
2017-02-01,253.199997,249.050003,253.050003,249.240005,3958800,249.240005
2017-02-02,252.419998,247.710007,248.339996,251.550003,2499800,251.550003
2017-02-03,252.179993,249.679993,251.910004,251.330002,2186700,251.330002
2017-02-06,257.820007,250.630005,251.000000,257.769989,3562500,257.769989
2017-02-07,260.000000,256.420013,258.190002,257.480011,4244800,257.480011
2017-02-08,263.359985,256.200012,257.350006,262.079987,3933000,262.079987
2017-02-09,271.179993,266.149994,266.250000,269.200012,7820200,269.200012
2017-02-10,270.950012,266.109985,269.790009,269.230011,3619700,269.230011
2017-02-13,280.790009,270.510010,270.739990,280.600006,7029600,280.600006
2017-02-14,287.390015,278.609985,279.029999,280.980011,7329400,280.980011
...,...,...,...,...,...,...
2019-03-15,283.720001,274.399994,283.510010,275.429993,14785500,275.429993
2019-03-18,278.049988,267.299988,276.000000,269.489990,10281000,269.489990
2019-03-19,273.299988,263.459991,267.500000,267.470001,11800600,267.470001
2019-03-20,274.970001,266.299988,269.690002,273.600006,6908200,273.600006
2019-03-21,276.450012,268.450012,272.600006,274.019989,5947100,274.019989
2019-03-22,272.799988,264.000000,272.579987,264.529999,8745600,264.529999
2019-03-25,263.179993,254.460007,259.709991,260.420013,10215000,260.420013
2019-03-26,270.260010,264.429993,264.440002,267.769989,7350900,267.769989
2019-03-27,275.369995,268.179993,268.750000,274.829987,8779200,274.829987
2019-03-28,280.329987,275.100006,277.160004,278.619995,6774100,278.619995
2019-03-29,280.160004,274.500000,278.700012,279.859985,5991300,279.859985
2019-04-01,289.200012,281.279999,282.619995,289.179993,8110400,289.179993
2019-04-02,289.440002,283.880005,288.299988,285.880005,5478900,285.880005
2019-04-03,296.170013,287.170013,287.320007,291.809998,7929900,291.809998
2019-04-04,271.200012,260.589996,261.890015,267.779999,23720700,267.779999
2019-04-05,276.100006,266.109985,269.859985,274.959991,13038300,274.959991
2019-04-08,281.160004,270.440002,277.690002,273.200012,10410400,273.200012
2019-04-09,275.000000,269.609985,271.649994,272.309998,5904000,272.309998
2019-04-10,278.380005,272.890015,276.739990,276.059998,7061300,276.059998
2019-04-11,270.500000,265.600006,268.299988,268.420013,9835900,268.420013
2019-04-12,271.950012,266.829987,270.220001,267.700012,6746000,267.700012
2019-04-15,268.880005,258.630005,268.630005,266.380005,10038600,266.380005
2019-04-16,275.000000,264.720001,265.750000,273.359985,7272900,273.359985
2019-04-17,274.790009,268.540009,274.750000,271.230011,5126500,271.230011
2019-04-18,274.839996,269.750000,271.230011,273.260010,5876300,273.260010
2019-04-22,269.679993,262.480011,269.000000,262.750000,12147100,262.750000
2019-04-23,265.600006,255.750000,260.149994,263.899994,10943900,263.899994
2019-04-24,265.320007,258.000000,263.850006,258.660004,10727500,258.660004
2019-04-25,259.000000,246.070007,255.000000,247.630005,21849400,247.630005
2019-04-26,246.679993,231.130005,246.500000,235.139999,22280000,235.139999