Udemy: Python for Finance Investment Fundamentals and Data Analytics

Variables

In [7]:
x = [1, 2, 3, 4]
x

[1, 2, 3, 4]

In [8]:
x = [1, 2, 3, 4]
x

[1, 2, 3, 4]

In [9]:
x = 5

In [10]:
x

5

In [11]:
y = 8

In [12]:
y

8

In [13]:
print(y)

8

In [14]:
x,y = (1,2)

In [15]:
print(x)
print(y)

1
2

Type

In [17]:
 x1 =  6

In [18]:
type(x1)

int

In [19]:
x2 = 0.01
type(x2)

float

In [20]:
int(x2)

0

In [21]:
float(x1)

6.0

In [22]:
x3 = True

In [23]:
type(x3)

bool

 Strings

In [24]:
'George'

'George'

In [25]:
"George"

'George'

In [26]:
print("George")

George

In [27]:
x4 = 'George'

In [28]:
x4

'George'

In [29]:
 str(x1)

'6'

In [30]:
print(str(x1) + 'George')

6George

Arithmetic

In [31]:
16/4

4.0

In [32]:
16/5

3.2

In [33]:
16/3

5.333333333333333

In [34]:
16%3

1

In [35]:
y = 125

In [36]:
y == 125

True

In [37]:
y == 125.0

True

In [39]:
# This is a comment

 Line Coninuation

In [41]:
2 * 3 + 5\
+ 1

12

In [44]:
2 * 3 + 5
+ 1

1

In [45]:
def add(x, y):
    return x + y
print(add(1, 2))

3

In [47]:
10 + 1 >= 112

False

In [53]:
y = 125

if y < 100:
    print('Less than 125')
else:
    print('Greater than 125')

Greater than 125

Function

In [54]:
def simple():
    print('My first function!')

In [55]:
simple()

My first function!

In [58]:
def plus_a(x):
    return x + 10

In [59]:
plus_a(1)

11

In [60]:
plus_a(10)

20

Function Within a Function

In [64]:
def wage(w_hours):
    return w_hours * 25

def bonus(w_hours):
    return wage(w_hours) + 100

In [66]:
bonus(100)

2600

In [69]:
def test(m):
    print(id(m))
    m = m + 1
    print(id(m))
    return m

test(10)

4452513408
4452513440

11

In [70]:
print(type([1,2,3]))

<class 'list'>

In [82]:
x = [3, 6, 9, 12]
print(x)

[3, 6, 9, 12]

In [83]:
x

[3, 6, 9, 12]

In [84]:
x.append(13)

In [85]:
x

[3, 6, 9, 12, 13]

In [86]:
x.extend(1)

TypeError: 'int' object is not iterable

In [93]:
x.extend([1])

In [88]:
x

[3, 6, 9, 12, 13, 1]

In [89]:
x.append([111,35])

In [90]:
x

[3, 6, 9, 12, 13, 1, [111, 35]]

In [94]:
y = [1,4,6,4,3]

In [96]:
combined = [x, y]
combined

[[3, 6, 9, 12, 13, 1, [111, 35], 1, 1, 1], [1, 4, 6, 4, 3]]

In [99]:
combined.sort()
combined

[[1, 4, 6, 4, 3], [3, 6, 9, 12, 13, 1, [111, 35], 1, 1, 1]]

In [101]:
combined.append([2,3])
combined

[[1, 4, 6, 4, 3], [3, 6, 9, 12, 13, 1, [111, 35], 1, 1, 1], [2, 3], [2, 3]]

In [102]:
combined.sort()
combined

[[1, 4, 6, 4, 3], [2, 3], [2, 3], [3, 6, 9, 12, 13, 1, [111, 35], 1, 1, 1]]

In [103]:
tuple_ex = (1,2,3)
tuple_ex

(1, 2, 3)

In [104]:
type(tuple_ex)

tuple

In [105]:
 tuple_ex.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [107]:
tuple_ex[0]

1

In [111]:
(age, name) = 12,'Bob'

In [113]:
print(age)
print(name)

12
Bob

Loops

In [129]:
even = [2,4,6,8,10,12,14]

for num in even:
    print(num, end='/')

2/4/6/8/10/12/14/

In [3]:
p = 1
while p < 10:
    print(p, end=",")
    p = p + 1

1,2,3,4,5,6,7,8,9,

In [8]:
print(list(range(1, 10, 1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for n in range(10):
    print(n ** 2, end=' ')

0 1 4 9 16 25 36 49 64 81

In [18]:
prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburger": 2
}

quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
}

total = 0
for price in prices:
    total += prices[price] * quantity[price]
    
print(total)

74